.dashboard {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "Overview Chart" "Overview Cash";
  height: 100%;
  width: 100vw;
}

.dashboard--overview {
  grid-area: Overview;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.dashboard--chart {
  grid-area: Chart;
  display: flex;
  height: 270px;
  justify-content: center;
}

.dashboard--cash {
  grid-area: Cash;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.dashboard--cash__total {
  color: green;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

@media screen and (max-width:768px) {
  .dashboard {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 50%;
    grid-template-areas: "Chart" "Cash" "Overview";
  }

  .dashboard--cash {
    justify-content: center;
  }

  .dashboard--chart {
    align-items: center;
  }

}

@media screen and (max-width: 375px) {
  .dashboard--cash__total {
    font-size: 2rem;
  }

}