html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: "Navbar" "Main";
  margin: 0;
  padding: 0;

}

Navbar {
  grid-area: Navbar;
}

Routes {
  grid-area: Main;

}